<div class="modal fade" id="surveyModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Survey</h5>
        <small></small>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="form-survey">
        <div class="modal-body">
          <div id="surveyDiv"></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn submitSurvey">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>