<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageName}}</title>
  <link rel="icon" href="../{{logoText}}">
  <!-- <link rel="stylesheet" href="../plugins/dist/css/adminlte.min.css"> -->
  <link href="plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="plugins/fontawesome/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
</head>
<style>
  .navbar-nav .nav-item .active {
    background-color: white;
    color: #df731b;
    border-radius: 15px;
  }

  .navbar-nav .nav-item a {
    color: white;
  }
</style>

<body class="bg-light">

  <nav class=" navbar navbar-expand " style="background-color:  #df731b;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img src="../{{logo}}" class="d-none d-sm-none d-md-flex" style="max-height: 4vh;" alt="">
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/onsite-guests">Guests</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/onsite-registration">Registration</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link active" aria-current="page" href="/onsite-manualsync">Manual Syncing</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/onsite-customprint">Manual Print</a>
      </li>
    </ul>

  </nav>

  <section class="pt-4">
    <div class="container-fluid headerTitle">
      <center>
        <div class="d-block d-md-none">
          <img src="{{logo}}" alt="" style="width: 100%;">
          <hr>
        </div>
        <img src="/img/raw/wbex-date.png" class="w-50" alt="">
      </center>
      <div class="my-3">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab"
              aria-controls="nav-home" aria-selected="true"> <i class="fas fa-server"></i> SYNC TO LOCAL</button>
            <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab"
              aria-controls="nav-profile" aria-selected="false"><i class="fas fa-cloud"></i> SYNC TO CLOUD </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <center>
              <h2 style="font-weight: 900;">Search Guest from Cloud Server</h2>
            </center>
            <div class="row mt-3">
              <form id="searchCloud" class="col-md-9 row">
                <div class="form-group col-md-4 mb-2">
                  <label for="">First Name</label>
                  <input type="text" class="form-control" name="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-4 mb-2">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group col-md-4 mb-2">
                  <label for="">Type QR Code</label>
                  <input type="text" name="qrCode" class="form-control" placeholder="Type QR Code">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-middle">
                    <button type="reset" class="btn btn-outline-danger"><i class="fa fa-eraser fa-lg"> </i>
                      Clear</button> &nbsp;
                    <button type="submit" class="btn btn-outline-info"><i class="fas fa-search fa-lg"></i> Search</button>
                  </div>
                </div>
              </form>
              <form id="searchCloudScanQr" class="col-md-3">
                <div class="form-group mb-2">
                  <label for="">Scan QR Code</label>
                  <input type="text" name="qrCode" class="form-control" placeholder="Scan QR Code">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-middle">
                    <button type="reset" class="btn btn-outline-danger"><i class="fa fa-eraser fa-lg"> </i>
                      Clear</button> &nbsp;
                    <button type="submit" class="btn btn-outline-info"><i class="fas fa-search fa-lg"></i> Search</button>
                  </div>
                </div>
              </form>
            </div>
            <hr>
            <div class="table-responsive p-3">
              <table class="table table-hover table-bordered" id="dataTableCloud"></table>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <center>
              <h2 style="font-weight: 900;">Search Guest from Local Server</h2>
            </center>
            <div class="row mt-3">
              <form id="searchLocal" class="col-md-9 row">
                <div class="form-group col-md-4 mb-2">
                  <label for="">First Name</label>
                  <input type="text" class="form-control" name="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-4 mb-2">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-group col-md-4 mb-2">
                  <label for="">Type QR Code</label>
                  <input type="text" name="qrCode" class="form-control" placeholder="Type QR Code">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-middle">
                    <button type="reset" class="btn btn-outline-danger"><i class="fa fa-eraser fa-lg"> </i>
                      Clear</button> &nbsp;
                    <button type="submit" class="btn btn-outline-info"><i class="fas fa-search fa-lg"></i> Search</button>
                  </div>
                </div>
              </form>
              <form id="searchLocalScanQr" class="col-md-3">
                <div class="form-group mb-2">
                  <label for="">Scan QR Code</label>
                  <input type="text" name="qrCode" class="form-control" placeholder="Scan QR Code">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-middle">
                    <button type="reset" class="btn btn-outline-danger"><i class="fa fa-eraser fa-lg"> </i>
                      Clear</button> &nbsp;
                    <button type="submit" class="btn btn-outline-info"><i class="fas fa-search fa-lg"></i> Search</button>
                  </div>
                </div>
              </form>
            </div>
            <hr>
            <div class="table-responsive p-3">
              <table class="table table-hover table-bordered w-100" id="dataTableLocal"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="modal-sticker" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sticker</h5>
          <button type="button" class="close btn btn-sm btn-warning" data-dismiss="modal"><i
              class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
          <center>
            <div style="border: 1px solid #df731b; width: 80mm; height: 30mm;"  >
              <div class="stickerDiv" style="
                    width: 100%;
                    height: 30mm;
                    padding: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    align-content: center;
                    justify-content: center;
                    position: relative;
                    display: grid;
                    grid-template-columns: auto auto;
                  ">
                <center>
                  <div class="qrCode"></div>
                  <div style="margin-top: -3mm;">
                    <span class="stickerId"
                      style="color: black; font-size: 8pt; line-height: 9pt; font-weight: bold; font-family: 'Arial', Helvetica Arial Lucida sans-serif; ">
                    </span>
                  </div>
                </center>
                <div style="position: relative; text-align: left; padding-left: 3mm; width: 50mm;">
                  <div style="line-height: 15pt">
                    <span class="fullName"
                      style="font-size: 14pt; line-height: 15pt; font-weight: bold; width: 100%; text-transform: capitalize;">Christopher
                      Dungaran123</span>
                  </div>
                  <div style="line-height: 11pt">
                    <span class="companyName"
                      style="font-size: 10pt; line-height: 0mm; margin: 0; padding: 0;  text-transform: capitalize;">Dynamic
                      Global Soft Inc. </span>
                  </div>

                  <div style="position: absolute; bottom: 1mm; left: 0; right: 0">
                    <center>
                      <div style="line-height: 8pt">
                        <span style="font-size: 7pt; line-height: 5pt;">Powered By :</span>
                      </div>
                      <div style="line-height: 10pt">
                        <b style="font-size: 9pt; line-height: 10pt;">Dynamic Global Soft Inc.</b>
                      </div>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </center>
          <br>
          <center>
            <button type="submit" class="btn btn-warning printQR"><i class="fas fa-print"></i> PRINT</button>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditLabel">Edit Guest</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-edit">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label class="form-label">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="firstName" style="text-transform:capitalize" placeholder="First Name"
                    required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label class="form-label">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="lastName" style="text-transform:capitalize" placeholder="Last Name"
                    required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="mobileNumber">Mobile Number <span class="text-danger">*</span></label>
                <div class="input-group">
                  <select class="countryMobile form-control pl-2 pr-0" style="max-width: 110px;"></select>
                  <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" maxlength="11"
                    placeholder="10 digit number" aria-label="Mobile Number" required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="email">Email <span class="text-danger">*</span></label>
                <input class="form-control" id="email" name="email" type="email" placeholder="Email" required>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label class="form-label">Designation <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="designation" style="text-transform:capitalize"
                    placeholder="Designation" required>
                    
                  <div class="form-check">
                    <input class="form-check-input isStudent" id="isStudent" type="checkbox">
                    <label class="form-check-label" for="isStudent">
                      Student
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label class="form-label">Company <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="companyName" style="text-transform:capitalize" placeholder="Company"
                    required>
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="">PRC License Number <span class="text-danger">*</span></label>
                <input type="text" name="prcNumber" class="form-control designation prcNumber" placeholder="PRC License Number"
                  required>
                <div class="form-check">
                  <input class="form-check-input noPrc" id="noPrc" type="checkbox">
                  <label class="form-check-label" for="noPrc">
                    No PRC Number
                  </label>
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="">Expiry Date <span class="text-danger">*</span></label>
                <input type="text" name="prcExpiry" class="form-control" placeholder="Expiry Date" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning w-100 font-weight-bold"><span class="fs-4">SUBMIT</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- DATATABLES -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.js"></script>

    <!-- jquery validation -->
    <script src="plugins/validate/jquery.validate.min.js"></script>
    <script src="plugins/validate/additional-methods.min.js"></script>
    <script src="plugins/sweetalert2.js"></script>
    <script src="plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="../plugins/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="src/eventLogos.js"></script>
    <script src="plugins/qrcode.js"></script>
    <script src="plugins/printThis.js"></script>
    <script src="src/onsite/manualSync/load.js"></script>

</body>

</html>